name: Build and test Go
on: 
  - push
  - pull_request

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.24
        uses: actions/setup-go@v6
        with:
          go-version: 1.24

      - name: Check out source code
        uses: actions/checkout@v6

      - name: Build
        run: go build

      - name: Test
        run: go test -test.v
