name: Build release

on:
  release:
    types: [published, edited]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    needs: create-release
    strategy:
      matrix:
        goos: [linux]
        goarch: ["386", amd64, arm, arm64]
    steps:
    - name: Set up Go 1.24
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
    - uses: actions/checkout@v6
    - name: Build artifact
      run: |
        go build -o coredns example/main.go
        zip "coredns-with-blocklist-${{ matrix.goos }}-${{ matrix.goarch }}" coredns
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}

    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create-release.outputs.upload_url }}
        asset_path: ./coredns-with-blocklist-${{ matrix.goos }}-${{ matrix.goarch }}.zip
        asset_name: coredns-with-blocklist-${{ matrix.goos }}-${{ matrix.goarch }}.zip
        asset_content_type: application/zip
